$red: #f15354;
$font_color: #2c3e50;
$border_color: #ccd1d3;
//menu
$menu_background_color:#0075a8;
$logo_background_color:#004572;
$username_font_color:white;
$logout_btn_background_color:#ccd1d3;
$menu_list_hover_background_color:#ecf0f1;
$menu_haver_background_color:#00639B;
$menu_list_font_color:#2c3e50;
$menu_font_color:#ccd1d3;
$menu_haver_font_color:lightblue;
$menu_active_font_color:white;
$menu_list_background_color:white;

$menu_active_background_color: #00558b;

$home_font_color:#0075a8;
$home_total_haver_color:#0075a8;

$home_total_color:dimgrey;
$login_border_color:#ccd1d3;
$stack_background_color:white;
$stack_tr_hover_color:#ecf0f1;
$stack_hover_font_color:cornflowerblue;
$details_backgroud_color:white;
// $details_tr_hover_backgroud_color:#ecf0f1;
$green-color: #52A249;

$details_title_backgroud_color:#F5F9FA;
$details_table_boder_color:#E0EAED;
$stack_color: #52A249;
$stack_border_color:#F4F5F5;
$stack_delete_color:$red;
$stack_lable_color:#777;
$stack_lable_font_color:#fff;
$stack_table_bg_color:#F5F9FA;
$network_color:#00638f;
$network_font_color:dimgrey;

$yellow_color: #ffc108;
$label_background_color: #d0d9dd;
$label_color: #00638f;
$wihte_color:white;
$gray_color:gray;

$host_capacity_color:#698bac;
$texarea_border: #cacbd1;